/* General Layout */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0c1f2c; /* Deep space blue from the image */
  color: #9CAF88; /* Sage green text */
  gap: 20px; /* Padding between the two widgets */
}

/* Shared Widget Background */
#radio-widget-container, #about-me-widget {
  background-color: #0c1f2c; /* Matching widget backgrounds */
  border: 2px solid #7fffd4; /* Aqua green border */
}

/* Radio Widget */
#radio-widget-container {
  position: relative;
  width: min(300px, 40vw);
  max-width: 300px;
  max-height: 450px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  margin: 20px;
}

canvas {
  display: block;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
